---

import { imageConfig } from "astro:assets";
import github from "../assets/Images/github.png"
import linkedin from "../assets/Images/linkedin.png"
import gmail from "../Assets/Images/gmail.png"

---


<footer class="#212121 text-white py-8 mt-20">
  
    
    
    
    
   <span class="block w-full h-px bg-white/20"></span>

    <div class="flex justify-end gap-4 py-6 px-4">
    
      <a href="mailto:mapp81dev@gmail.com" class="hover:text-blue-400 mr-12"><img class="que" src={gmail.src} alt="Mail to" width={24} height={24} /></a>
      <a href="https://github.com/Mapp81" class="hover:text-blue-400 mr-12"><img src={github.src} alt="GitHub Profile" width={24} height={24} /></a>
      <a href="https://linkedin.com/in/ana-peyran-8a52b937b" class="hover:text-blue-400 mr-12"><img src={linkedin.src} alt="LinkedIn Profile" width={24} height={24} /></a>
    </div>
  

  <p class="text-center mt-6 text-gray-800 text-sm">© 2025 Ana Peyran. All rights reserved.</p>
</footer>

<style>


.que {
  animation-name: slide-in;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-fill-mode: both;
  animation-play-state: running;
}



@keyframes slide-in {
  from { transform: rotate(0deg) }
  to   { transform: rotate(360deg); }
}

</style>
