---
import { Image } from 'astro:assets'
import '../styles/global.css'
import Logoempresa from "../Assets/Images/Logoempresa.png";


---
<header class="bg-[var--text-color] lg:px-6 lg:py-4 flex justify-between items-center">
    <div class="inline-flex items-center gap-2 group">

  <!-- Para MOBILE: input invisible que detecta el click -->
  <input type="checkbox" class="inset-0 opacity-0 cursor-pointer peer z-10">

  <!-- Tu imagen -->
  <Image class="w-16 h-16 imagen" src={Logoempresa} alt="logo mapp"/>

  

</div>

    

    <div class="flex items-center space-x-8 flex-col lg:flex-row gap-2">
        <h1 class="font-bold text-(--text-primary) mr-12 hidden sm:block">Desarrollo Web</h1>
        
        
        
        <div class="md:hidden btn">
            <span class="material-symbols-outlined text-white">menu</span>
        </div>
        <nav class="hidden md:block nav tracking-wide">
            <a href="/" class="text-gray-800 lg:text-gray-300 hover:text-[#819edc] mr-8">Inicio</a>
            <a href="#sobremi" class="text-gray-800 lg:text-gray-300 hover:text-[#819edc] mr-8">Sobre mí</a>
            <a href="#proyectos" class="text-gray-800 lg:text-gray-300 hover:text-[#819edc] mr-8">Proyectos</a>
            <a href="#skills" class="text-gray-800 lg:text-gray-300 hover:text-[#819edc] mr-8">Skills</a>
            <a href="mailto:mapp81dev@gmail.com" class="text-gray-800 lg:text-gray-300 hover:text-[#819edc] mr-8">Contacto</a>
        </nav>
    </div>
    
</header>
<span class="block w-full h-px bg-white/20"></span>

<style>

 .nav-active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px; /* baja el menú debajo del header */
  right: 20px; /* lo alinea a la derecha */
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 1rem;
  z-index: 10;
}

.imagen{
  animation: rotacion 2s infinite linear;
}

@keyframes rotacion{
  from{
    transform: rotateY(0deg);
  }
  to{  
    transform: rotateY(360deg);
  }
}


</style>


<script>

const btn = document.querySelector(".btn");
const nav = document.querySelector(".nav");


btn?.addEventListener("click", () => {
  console.log(nav?.textContent);
  nav?.classList.toggle("nav-active");

})



</script>